@charset "UTF-8";
.account{background-position:-80px -282px;background-color:transparent;height:20px;line-height:20px;background-repeat:no-repeat;text-indent:25px;}
a{color:#333;text-decoration:none;}
.cfollow{display:inline-block;text-indent:0;width:auto;height:18px;line-height:18px;text-align:center;background-position:0px -172px;background-repeat:repeat-x;color:#fe8e21;}
.cfollowleft{display:inline-block;margin-left:3px;text-indent:0;width:11px;height:18px;line-height:18px;background-position:-76px -153px;}
.cfollowright{display:inline-block;text-indent:0;width:8px;height:18px;line-height:18px;background-position:-92px -153px;}
.weibo_url{display:block;position:absolute;width:100%;height:100%;background:url(about:blank);top:0;left:0;}/*  |xGv00|0da8b544406865d9f1e407eb38a0da34 */